<!doctype html>
<title>{% block title %}{% endblock %} - BadStats</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('stats.search', kind='artist', search='') }}">BadStats</a></h1>
  <ul>
    <li><a href="{{ url_for('stats.search', kind='artist', search='') }}">Artists</a>
    <li><a href="{{ url_for('stats.search', kind='album', search='') }}">Albums</a>
    <li><a href="{{ url_for('stats.search', kind='song', search='') }}">Songs</a>
    <li><a href="{{ url_for('auth.userAuth', kind='playlist') }}">Playlist</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>