{% extends 'base.html' %}

{% block header %}
  {% if stats['images'][0] %}
    <img class='detailPic' src="{{ stats['images'][0]['url'] }}" />
  {% endif %}
  <h1 style='padding-left: 5px; margin-top: auto; margin-bottom: auto;'>{% block title %}{{ stats['name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}

  <article class='post'>
    <header>
      <h1>Genre</h1>
    </header>
    {% for genre in stats['genres'] %}
      {{ genre }}, 
    {% endfor %}
  </article>
  <hr>

  <article class='post'>
    <header>
      <h1>Followers</h1>
    </header>
    {{ stats['followers'] }}
  </article>
  <hr>

  <article class='post'>
    <header>
      <h1>Popularity</h1>
    </header>
    {{ stats['popularity'] }}
  </article>
  <hr>

  <article class='post'>
    <header>
      <h1>Top Tracks</h1>
    </header>
      <ol>
      {% for track in stats['top-tracks'] %}
        <li>
          <a href="{{ url_for('stats.item', kind='song', id=track['id']) }}">
            {{ track['name'] }} 
          </a>
          off 
          <a href='{{ url_for("stats.item", kind="album", id=track["albumid"]) }}'>
            {{ track['album'] }}
          </a>
        </li>
      {% endfor %}
      </ol>
  </article>
  <hr>

{% endblock %}