{% extends 'base.html' %}

{% block header %}
  {% if stats['images'][0] %}
    <img class='detailPic' 
      style='
        padding-top: 5px; 
        padding-bottom: 5px; 
        padding-right: 5px;' 
      src="{{ stats['images'][0]['url'] }}" />
  {% endif %}
  <h1 style='padding-left: 5px; margin-top: auto; margin-bottom: auto;'>{% block title %}{{ stats['name'] | safe }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if stats['description'] %}
    <article class='post'>
        <header>
        <h1>Description</h1>
        </header>
        {{ stats['description'] | safe }}
    </article>
    <hr>
    {% endif %}

    <article class='post'>
        <header>
            <h1>Owner</h1>
        </header>
        {{ stats['owner'] }}
    </article>
    <hr>

  <article class='post'>
    <header>
      <h1>Followers</h1>
    </header>
    {{ stats['followers'] }}
  </article>
  <hr>

  <article class='post'>
    <header>
      <h1>Tracks</h1>
    </header>
      <ol>
      {% for track in stats['tracks'] %}
        <li><a href="{{ url_for('stats.item', kind='song', id=track['id']) }}">
          {{ track['name'] }}
        </a> 
        {% if track['artists'] %}
            by 
            <a href="{{ url_for('stats.item', kind='artist', id=track['artists'][0]['id']) }}">
                {{ track['artists'][0]['name'] }}
            </a>
        {% endif %}
        off 
        <a href="{{ url_for('stats.item', kind='album', id=track['albumid']) }}">
            {{ track['albumname'] }}
        </a>
        </li>
      {% endfor %}
      </ol>
  </article>
  <hr>

  <article class='post'>
    <header>
      <h1>Album Plots</h1>
    </header>
    <a href="{{ url_for('stats.userPlaylistPlot', kind='popularity', id=stats['id']) }}" >Popularity Plot</a>
    <br />
    <a href="{{ url_for('stats.userPlaylistPlot', kind='danceability', id=stats['id']) }}" >Danceability Plot</a>
    <br />
    <a href="{{ url_for('stats.userPlaylistPlot', kind='duration_ms', id=stats['id']) }}" >Duration Plot</a>
    <br />
    <a href="{{ url_for('stats.userPlaylistPlot', kind='energy', id=stats['id']) }}" >Energy Plot</a>
    <br />
    <a href="{{ url_for('stats.userPlaylistPlot', kind='loudness', id=stats['id']) }}" >Loudness Plot</a>
    <br />
    <a href="{{ url_for('stats.userPlaylistPlot', kind='speechiness', id=stats['id']) }}" >Speechiness Plot</a>
    <br />
    <a href="{{ url_for('stats.userPlaylistPlot', kind='acousticness', id=stats['id']) }}" >Acousticness Plot</a>
    <br />
    <a href="{{ url_for('stats.userPlaylistPlot', kind='instrumentalness', id=stats['id']) }}" >Instrumentalness Plot</a>
    <br />
    <a href="{{ url_for('stats.userPlaylistPlot', kind='liveness', id=stats['id']) }}" >Liveness Plot</a>
    <br />
    <a href="{{ url_for('stats.userPlaylistPlot', kind='valence', id=stats['id']) }}" >Valence Plot</a>
    <br />
    <a href="{{ url_for('stats.userPlaylistPlot', kind='tempo', id=stats['id']) }}" >Tempo Plot</a>

  </article>
  <hr>

{% endblock %}